  <footer> 
        <div class="nav-links">
            <nav>
            <a href="https://github.com/spandry0">GitHub </a>
            <a href="https://github.com/spandry0/spandry0.github.io">GitHub.io </a>
            <a href="https://www.freecodecamp.org/learn">freeCodeCamp </a>
            <a href="https://www.codecademy.com/profiles/Spandry0">Codecademy </a>
            <a href="https://jsfiddle.net/">JSFiddle </a>
            <a href="https://www.linkedin.com/in/stephane-pandry-3b811a205/">LinkedIn </a>
	    <a href="https://github.com/spandry0/web250.io">Web250.oi </a>
            </nav>
            <br>
         
         </div>
         <div class="validationButtons">
            <a href="http://validator.w3.org/check?uri=referer" style = "text-decoration: none">
		    <img src="images/html_validation_button.gif" alt="Validate HTML" /> 
                 </a>
            <a href="http://jigsaw.w3.org/css-validator/check/referer" style = "text-decoration: none">
		 <img src="images/validation_button_css_rectangle.gif" alt="Validate CSS" />
		</a> 
        </div>
    </footer>
