body {
  font-family: Arial, Verdana, sans-serif;
  background-color: #665544; 
  color: #f0ece2; 
  margin: 0;
  padding: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

h1 {
    font-size: 48px;
    color: #333;
}
header {
  background-color: #dfd3c3; 
  color: #3a5252; 
  padding: 20px;
}
nav {
  background-color: #f0ece2;
  padding: 20px;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
nav li {
  display: inline;
  margin-right: 10px;
}
nav a {
  text-decoration: none;
  color: #3a5252; 
  padding: 8px 15px;
  background-color: #c7b198; 
  border-radius: 5px;
}
main {
  flex: 1;
  padding: 20px;
}
.footer {
  background-color: #dfd3c3; 
  color: #000000; 
  padding: 10px;
}
.nav-links {
  background-color: #dfd3c3;
  color: #ccc;
  text-align: center;
  padding: 10px;
  text-decoration: none;
}
.nav-links a:hover {
  color: #f0ece2;
}
.nav-links a {
   color: white;
  text-decoration: none;
}
h2 {
  text-align: center;
}

p {
  text-align: center;
  line-height: 3em;
}
.introMain {
  padding: 0 20px 20px 20px;
  text-align: center;
}
.introList {
  list-style: none;
  padding: 0;
  text-align: left;
}
.introList li {
  margin-bottom: 20px;
}
.introList b {
  font-weight: bold;
  color: #c7b198;
}
.introImage {
  padding: 1em;
  display: flex;
  justify-content: center;
}
.login-container {
            max-width: 400px;
            margin: 100px auto;
            padding: 20px;
            background-color:#665544;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        .login-container h2 {
            text-align: center;
            margin-bottom: 20px;
        }
        .login-container input[type="text"],
        .login-container input[type="password"] {
            width: 100%;
            padding: 10px;
            margin-bottom: 15px;
            border: 1px solid #ccc;
            border-radius: 4px;
        }
        .login-container input[type="submit"] {
            width: 100%;
            padding: 10px;
            border: none;
            border-radius: 4px;
            background-color: #665544;
            color: #fff;
            cursor: pointer;
        }
        .login-container input[type="submit"]:hover {
            background-color: #665544;
        }
}

.footerNav > li {
  display: inline;
  margin-left: 1.5vh;
}

.footerNav > li > a, nav ul a {
  text-decoration: none;
  color: black;
  font-size: 16px;
  padding: 11px;
  border-radius: 3%;
  transition: 0.1s;
}

.footerNav {
  display: flex;
  justify-content: space-around;
  text-decoration: none;
  border-bottom: 2.5px solid #a8b8cf49;
  padding: 1.2vh;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mainRectangle {
  border:1.25px solid gray;
  border-radius: 0.8%;
  display: flex;
  flex-direction: column;
  width: 120vh;
  padding: 2vh 5vh;
  align-items: center;
  background-color: #ccdbfd;
  min-height: 70vh;
}

.mainRectangle p {
  max-width: 100%;
}

.colorScheme{
  margin-top: 2vh;
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.fontContainer {
  margin-top: 5vh;
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
